.form-container{
    margin-top: 100px;
    margin-left: 30%;
    width: 40%;
    background-color: bisque;
    padding: 50px;
    text-align: center;
}

.form-container button{
    text-align: center;
}

#self{
    text-align: right;
}