.header-parent {
    padding: 0px;
}

.header {
    width: 100%;
    height: 70px;
    background-color: cornflowerblue;
    margin: 0px;
}

.header p {
    margin-left: 180px;
    margin-top: 20px;
    font-style: italic;
    font-weight: 600;
}

.header input {
    width: 500px;
    height: 40px;
    margin: 15px 50px;
}

.header p img {
    width: 50px;
    height: 35px;
}

.header a {
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 30px;
}

#login {
    margin-left: 100px;
}

#admin-login {
    margin-left: 50px;
}

.main-body {
    background-color: rgb(31, 207, 207);
}

#welcomeTag {
    margin: auto 50px;
    font-size: 18px;
}

.menu {
    width: 100%;
    background-color: rgb(236, 210, 200);
    padding: 10px 20px;
}

.menu a {
    padding-left: 10px;
    padding-right: 10px;
}